.cardListContainer {
  margin: 10px 0;
  display: grid;
  grid-gap: 5px;
  grid-template-areas:
    'cardContainer1'
    'cardContainer2'
    'cardContainer3'
    'cardContainer4'
    'cardContainer5'
    'cardContainer6'
    'cardContainer7'
    'cardContainer8'
    'cardContainer9';
}

$cardContainer: cardContainer1, cardContainer2, cardContainer3, cardContainer4,
  cardContainer5, cardContainer6, cardContainer7, cardContainer8, cardContainer9;

@each $grid-container in $cardContainer {
  div:nth-of-type(#{$grid-container}) {
    grid-area: $grid-container;
  }
}

@media (min-width: 768px) {
  .cardListContainer {
    grid-template-areas:
      'cardContainer1 cardContainer2 cardContainer3'
      'cardContainer4 cardContainer5 cardContainer6'
      'cardContainer7 cardContainer8 cardContainer9';
  }
}

@media (min-width: 1200px) {
  .cardListContainer {
    grid-template-areas:
      'cardContainer1 cardContainer2 cardContainer3 cardContainer4'
      'cardContainer5 cardContainer6 cardContainer7 cardContainer8';
  }
}
