.preview {
  height: 280px;
  width: 300px;
  margin: 10px auto;
  color: $color-white;
  border: 1px solid $color-secundary;
  padding: 5px;
}

.preview_front {
  background-color: $color-primary;
}

.preview_back {
  background-color: darken($color-primary, 5%);
  height: 280px;
}

.preview_term {
  height: 60%;
  margin: 10px;
  padding: 10px;
}

.preview_btns {
  text-align: center;
}
