.preview {
  height: 280px;
  width: 300px;
  margin: 10px auto;
  color: color('white');
  border: 1px solid color('secundary');
  padding: 5px;

  &_front {
    background-color: color('primary');
  }

  &_back {
    background-color: darken(color('primary'), 5%);
    height: 280px;
  }

  &_term {
    height: 60%;
    margin: 10px;
    padding: 10px;
    overflow-y: auto;
  }

  &_btns {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .preview {
    width: 265px;
  }
}
