.practiceContainer {
  text-align: center;
}

.practiceContainer_link {
  background-color: $color-primary;
  border: none;
  color: $color-primary;
  cursor: pointer;
  font-size: 15px;
  height: 18px;
  margin: 0 auto;
  outline: none;
  padding: 15px 20px;
  text-align: center;
  width: 100px;

  &:hover {
    background-color: $color-secundary;
  }

  &:active {
    background-color: $color-secundary;
  }
}

.practiceContainer_link-title {
  color: $color-white;
  text-decoration: none;

  &:hover {
    color: $color-primary;
  }
  &:visited {
    color: none;
  }
}

.practiceContainer_card {
  background-color: $color-primary;
  border: 1px solid $color-secundary;
  color: $color-white;
  height: 300px;
  margin: 10px auto;
  padding: 5px;
  width: 300px;
}

.practiceContainer_term {
  height: 60%;
  margin: 10px;
  padding: 10px;
}

.practiceContainer_btns {
  text-align: center;
}
