.app_header {
  margin: 10px;
  text-align: center;
}

.app_header_title {
  // color: $color-primary;
}

.app_header_title-secundary {
  color: $color-primary;
  font-size: 18px;
  font-weight: 300;
}

.app_main_title {
  // color: $color-primary;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}
