@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
  background-color: var(--color-background, color('background'));
  font-family: 'Roboto', sans-serif;
  color: var(--color-text, color('text'));
}

.btn {
  background-color: $color-white;
  border: none;
  cursor: pointer;
  font-size: 15px;
  margin: 5px;
  outline: none;
  width: 90px;

  &:hover {
    background-color: $color-secundary;
  }

  &:active {
    background-color: $color-secundary;
  }
}
